@import url(base.css);

h1 {
  font-size: 200%;
  margin: 8px 0px;
}

html, body {
  margin: 0;
}

@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-areas:
      "h h"
      "n m"
      "n f";
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }

  header { grid-area: h; }
  nav    { grid-area: n; }
  main   { grid-area: m; overflow-y: auto; }
  footer { grid-area: f; }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav > ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4px;
  width: 100%;
  padding: 8px;
  list-style-type: none;
  margin: 0;
}

nav button {
  width: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
  color: #333;
}

footer > ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  list-style-type: none;
  margin: 0;
}

ul {
  padding: 0px;
  margin: 16px;
  list-style-type: none;
}

img {
  border-radius: 12px;
}

article {
  background-color: lightgray;
  border-radius: 16px;
  padding: 16px;
  width: 384px;
  margin: 8px;
}

a {
  color: beige;
}

span {
  margin-right: 4px;
}

.genre {
  padding: 4px 8px;
  border: solid black 1px;
  border-radius: 6px;
  background-color: darkgray;
  font-weight: bold;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  background-color: brown;
  color: beige;
}

button {
  padding: 4px;
  border-width: 1px;
  border-radius: 4px;
  font-size: 105%;
}

button:hover {
  background-color: darkgray;
}